* {
  box-sizing: border-box;
  text-decoration: inherit;
}

body {
  margin: 106px auto 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topo {
  width: 100%;
  height: 74px;
  background-color: #c3cfd9;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #e8833a;
}

.subtitle h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
}
